@using X.PagedList.Mvc.Fluent
@using iSMusic.Models.EFModels

@*@model IEnumerable<iSMusic.Models.ViewModels.ProductVM>*@

@model X.PagedList.IPagedList<Product>

@mode2 YourModel
<form method="post" action="YourAction">
    <!-- Form fields go here -->
    <input type="submit" value="Save">
</form>



@{
    ViewBag.Title = "庫存";
    var categories = ViewBag.Categories as IEnumerable<SelectListItem>;
    var productName = ViewBag.ProductName as string;
}

<h2>庫存</h2>

<form method="get">
    <div class="row">
        <div class="col-xs-12">
            <div class="caption">
                <h3>Search</h3>
                <div class="row">
                    <div class="col-md-4">分類:@Html.DropDownList("categoryId", categories, new { @class = "form-control" })</div>
                    <div class="col-md-4">商品名稱:<input type="text" name="productName" class="form-control" value="@productName"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 20px; padding-left: 15px;">
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
</form>




<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            categoryName
        </th>
        <th>
            album
        </th>
        <th>
            productName
        </th>

        <th>
            productPrice
        </th>
        <th>
            stock
        </th>
        <th>
            上架status
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory.categoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Album.albumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.productPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                <div class="delItem">
                    @Html.EditorFor(modelItem => item.status)
                </div>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
                @Html.ActionLink("上架", "UpdateStatus")
            </td>

        </tr>

    }

</table>
@(Html.Pager(Model)
    .Url(page => Url.Action("Index", new { pageNumber=page, CategoryId= ViewBag.CategoryId, ProductName = ViewBag.ProductName }))
    .ClassicPlusFirstAndLast())


<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input id="btnSelect" type="submit" value="上架" class="btn btn-default" />
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnSelect").on("click", function () {
                $(".delItem").each(function () {
                    console.log($(this).find("#item_status").is(":checked"));
                    //console.log($(this).next("#item_status"));
                });
            })
        });
    </script>
}