@using X.PagedList.Mvc.Fluent
@using iSMusic.Models.EFModels

@*@model IEnumerable<iSMusic.Models.ViewModels.ProductVM>*@

@model X.PagedList.IPagedList<Product>





@{
    ViewBag.Title = "庫存";
    var categories = ViewBag.Categories as IEnumerable<SelectListItem>;
    var productName = ViewBag.ProductName as string;
    var Categories2 = ViewBag.Categories2 as string;


    var Coupon = ViewBag.Coupon as IEnumerable<SelectListItem>;
}


<h2>庫存</h2>


<form method="get">
    <div class="row">
        <div class="col-xs-12">
            <div class="caption">
                <div class="row">
                    <div class="col-md-4">語言:@Html.DropDownList("categoryId", categories, new { @class = "form-control form-select " })</div>
                    <div class="col-md-4">關鍵字搜尋:<input type="text" name="productName" class="form-control" value="@productName"></div>
                    <div class="row " style="margin-top: 10px; margin-bottom: 20px; padding-left: 15px; max-width:250px ">
                        <input type="submit" class="btn btn-primary btn-lg" value="Search" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</form>




<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            語言
        </th>
        @*<th>
            專輯
        </th>*@
        <th>
            商品名稱
        </th>

        <th>
            價錢
        </th>
        <th>
            庫存
        </th>
        <th>
            上架狀態
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory.categoryName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Album.albumName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.productPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                <div class="delItem">
                    @Html.DisplayFor(modelItem => item.status)
                </div>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>

        </tr>

    }

</table>
@(Html.Pager(Model)
    .Url(page => Url.Action("Index", new { pageNumber=page, CategoryId= ViewBag.Categories2, ProductName = ViewBag.ProductName }))
    .ClassicPlusFirstAndLast())

@section scripts{
    <script>
        $(document).ready(function () {
            $("#btnSelect").on("click", function () {
                $(".delItem").each(function () {
                    console.log($(this).find("#item_status").is(":checked"));
                    //console.log($(this).next("#item_status"));
                });
            })
        });
    </script>
}
