@model iSMusic.Models.ViewModels.AdminEditVM

@{
    ViewBag.Title = "Edit";
    var departmentIdList = (IEnumerable<SelectListItem>)ViewBag.departmentId;
}

<h2>編輯管理員</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.departmentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.departmentId, null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.departmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.adminAccount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.adminAccount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.adminAccount, "", new { @class = "text-danger" })
            </div>
        </div>

        @foreach (var department in departmentIdList.Where(Id => Id.Value != null))
        {
            <div class="form-group select" id="@department.Value">
                <label class="control-label col-md-2" for="radiobtn">@(department.Text)部門權限</label>
                <div class="col-md-10 radiobtn" name="RoleIdList">
                    @Html.RadioButton(department.Value, Int32.Parse(department.Value + 3), new { @class = "radio-btn", @id=$"role{department.Value + 3}"}) 管理員
                    @Html.RadioButton(department.Value, Int32.Parse(department.Value + 2), new { @class = "radio-btn", @id = $"role{department.Value + 2}" }) 編輯者
                    @Html.RadioButton(department.Value, Int32.Parse(department.Value + 1), new { @class = "radio-btn", @id = $"role{department.Value + 1}" }) 訪客
                </div>
            </div>
            @Html.TextBoxFor(model => model.RoleIdList, new { @class = $"form-control input{department.Value} roleIdValue d-none"})
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $(".radio-btn").on("change", function (e) {
                $("input.input" + e.target.name).val(e.target.value);
            })
            $(".roleIdValue").val("");
            @foreach(var role in Model.RoleIdList)
            {
                @:$("#role" +@role).attr("checked", "checked");
                @:$(".input" + @(role/10)).val(@role);
            }
        })
    </script>
}
