@model IEnumerable<isMusic.Models.ViewModels.AdminIndexVM>

@{
    ViewBag.Title = "Index";
    var authCookie = Context.Request.Cookies[FormsAuthentication.FormsCookieName];
    var authTicket = FormsAuthentication.Decrypt(authCookie.Value);
    string[] roles = authTicket.UserData.Split(',').Where(x => x.Length != 0).ToArray();
    char[] departments = roles.Where(r => r.Length > 1).Select(r => r[0]).ToArray();
}

@*@foreach (var role in roles)
    {
        <span>@role</span>

    }*@

@if (roles.Contains("1"))
{
    <h1>Welcome, @User.Identity.Name SuperUser</h1>
}
else
{
    <h1>
        Welcome, @User.Identity.Name Administrator
    </h1>
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdminAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td class="d-flex">
                <div class="col-md-2">
                    @if (item.RoleName != "管理員" || roles.Contains("1"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:|
                    }
                </div>
                <div class="col-md-2">
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </div>
                <div class="col-md-2">
                    @if (roles.Contains("1"))
                    {
                        @: | @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    }
                </div>
            </td>
        </tr>
    }

</table>
