@model IEnumerable<iSMusic.Models.ViewModels.SongIndexVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <span>
        <button id="launch">上架</button>
    </span>
    <span>
        <button id="recall">下架</button>
    </span>
</p>

<table class="table">
    <tr>
        <th>
            <input type="checkbox" id="index" />
        </th>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.songName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.artistList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.released)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
     <tr>
         <td>
             <span class="hidden">@item.id</span>
             <input type="checkbox" class="checkbox" />
         </td>
            <td>
                @if (item.status == false)
                {
                    @:已下架
                }
            </td>
            <td>
                <audio controls>
                    <source src=@item.songPath type="audio/mp3" />
                </audio>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.songName)
            </td>
            <td>
                <table>
                    @foreach (var name in item.artistList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => name)
                            </td>
                        </tr>
                    }
                </table>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration, "duration")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.released, "Date")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id })
            </td>
        </tr>
    }

</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#index").on("click", function (event) {
                if (event.target.checked == true) {
                    $(".checkbox").prop("checked", true);
                } else {
                    $(".checkbox").prop("checked", false);
                }
            })

            $("#launch").on("click", function () {
                let idList = [];
                $("input.checkbox:checked").siblings().each(function () {
                    idList.push({ "Id": $(this).text() });
                })

                $.ajax({
                    type: "POST",
                    url: "https://localhost:44373/Songs/LaunchSong",
                    data: JSON.stringify(idList),
                    contentType: "application/json"
                }).done(function (message) {
                    alert(message)
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                });
            })

            $("#recall").on("click", function () {
                let idList = [];
                $("input.checkbox:checked").siblings().each(function () {
                    idList.push({ "Id": $(this).text() });
                })

                $.ajax({
                    type: "POST",
                    url: "https://localhost:44373/Songs/RecallSong",
                    data: JSON.stringify(idList),
                    contentType: "application/json"
                }).done(function (message) {
                    alert(message)
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(jqXHR.responseText);
                });
            })
        })
    </script>
}
