@model iSMusic.Models.ViewModels.AlbumEditVM

@{
    ViewBag.Title = "Edit";

    var typeList = (IEnumerable<SelectListItem>)ViewBag.TypeList;
}

<h2>編輯專輯</h2>

@using (Html.BeginForm("Edit", "Albums", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal container">
        <h4>*必填</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    @Html.LabelFor(model => model.CoverFile, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <input class="form-control" type="file" name="CoverFile" id="myImg" accept="image/gif, image/jpeg, image/png" />
                        @Html.ValidationMessageFor(model => model.CoverFile, "", new { @class = "text-danger" })
                        <div>
                            <img id="preview" style="width: 200px; height:200px;" />
                        </div>
                    </div>
                </div>

                <div class="form-group row mt-3">
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.description, new { @class = "form-control wide", @rows = "10", @style="max-width: 350px" })
                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                    </div>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    @Html.LabelFor(model => model.typeId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("typeId", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.typeId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-3">
                    @Html.LabelFor(model => model.albumName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.albumName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.albumName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-3">
                    @Html.LabelFor(model => model.albumGenreId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("albumGenreId", null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.albumGenreId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-3">
                    @Html.LabelFor(model => model.released, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.released, "DateTimePicker")
                        @Html.ValidationMessageFor(model => model.released, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-3">
                    @Html.LabelFor(model => model.mainArtistId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.mainArtistId, (IEnumerable<SelectListItem>)ViewBag.ArtistList, new { @class = "form-control col-md-7" })
                        @Html.ValidationMessageFor(model => model.mainArtistId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-3 mb-3">
                    @Html.LabelFor(model => model.songIdList, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.songIdList, (IEnumerable<SelectListItem>)ViewBag.SongList, new { @class = "form-control col-md-7 songIdList main" })
                        @Html.ValidationMessageFor(model => model.songIdList, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-3">
                    @Html.LabelFor(model => model.albumProducer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.albumProducer, new { @class = "form-control col-md-7" })
                        @Html.ValidationMessageFor(model => model.albumProducer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-3">
                    @Html.LabelFor(model => model.albumCompany, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.albumCompany, new { @class = "form-control col-md-7" })
                        @Html.ValidationMessageFor(model => model.albumCompany, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row mt-3" id="songList">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <button id="addSong" class="btn btn-outline-dark col-md-8" type="button">新增歌曲</button>
                    </div>
                </div>
            </div>
        </div>
            <div class="form-group d-flex justify-content-center mt-5">
                <div class="col-md-2">
                    <input type="submit" value="更新" class="btn col-md-12" style="background-color: #F68657; color: white" />
                </div>
            </div>
        
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Delete", "Delete", new { id = Model.id })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        const myImg = document.querySelector("#myImg");
        myImg.addEventListener("change", function (e) {
            const file = this.files[0];
            const objectURL = URL.createObjectURL(file);
            let preview = document.querySelector("#preview");
            preview.src = objectURL;
        })

        $(document).ready(function () {
            let id = $("#mainArtistId").val();
            var songList = {};
            $.ajax({
                type: "GET",
                url: "https://localhost:44373/Songs/GetSongList?" + "artistId=" + id
            }).done(function (data) {
                songList = data;
                let length = @Model.songIdList.Count;
                for (let i = 1; i < length; i++) {
                    let div = $("<div>");
                    div.attr("class", "col-md-12 d-flex mb-3 addDiv");
                    let droplist = $(".main").clone();
                    $(droplist).removeClass("main");
                    let delBtn = $("<button>");
                    delBtn.attr("class", "btn btn-outline-dark col-md-2")
                    delBtn.text("X")
                    delBtn.on("click", function () {
                        div.remove();
                    })
                    div.append(droplist);
                    div.append(delBtn);

                    $("#addSong").before(div);
                }
                $(".songIdList").html($('<option>', {
                    value: "",
                    text: "請選擇"
                }));
                $.each(songList, function (i, item) {
                    $('.songIdList').append($('<option>', {
                        value: item.songId,
                        text: item.songName
                    }));
                });
                let chooseList = $(".songIdList");
                let i = 0;
                @foreach(var songId in Model.songIdList)
                {
                    @:$(chooseList[i]).val(@songId);
                    @:i++;
                }
            }).fail(function (err) {
                alert(err)
            })

            $("#preview").attr("src", "@Model.albumCoverPath");

            $("#mainArtistId").on("change", function () {
                let id = $(this).val();
                $.ajax({
                    type: "GET",
                    url: "https://localhost:44342/Songs/GetSongList?" + "artistId=" + id
                }).done(function (data) {
                    songList = data;
                    $(".songIdList").html($('<option>', {
                        value: "",
                        text: "請選擇"
                        }));
                    $.each(songList, function (i, item) {
                        $('.songIdList').append($('<option>', {
                            value: item.songId,
                            text: item.songName
                        }));
                    });
                }).fail(function (err) {
                    alert(err)
                })
            })

            $(".songIdList").on("change", function () {
                //todo
            })

            $("#addSong").on("click", function () {
                let div = $("<div>");
                div.attr("class", "col-md-12 d-flex mb-3 addDiv");

                let droplist = $(".main").clone();
                $(droplist).removeClass("main");

                let delBtn = $("<button>");
                delBtn.attr("class", "btn btn-outline-dark col-md-2")
                delBtn.text("X")
                delBtn.on("click", function () {
                    div.remove();
                })
                div.append(droplist);
                div.append(delBtn);

                $("#addSong").before(div);
            })
        })
    </script>
}

