@model IEnumerable<iSMusic.Models.ViewModels.AlbumIndexVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.typeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.albumName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.released)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mainArtistName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.typeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.albumName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.released)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mainArtistName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
