@using X.PagedList.Mvc.Fluent
@using iSMusic.Models.EFModels

@model X.PagedList.IPagedList<Member>

@*@model IEnumerable<iSMusic.Models.ViewModels.MemberVM>*@

@{
    ViewBag.Title = "會員管理";
}

<h2>會員總覽</h2>
<form method="get">
    <div class="row">
        <div class="col-xs-12">
            <div class="caption">
                <h3>Search</h3>
                <div class="row">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 20px; padding-left: 15px;">
        <input type="submit" class="btn btn-primary" value="Search" />
    </div>
</form>

<p>
    @Html.ActionLink("新增會員", "Register")
</p>
<table class="table">
    <tr>
        <th>
            memberNickName
        </th>
        <th>
            memberAccount
        </th>
        <th>
            memberEmail
        </th>
        <th>
            memberAddress
        </th>
        <th>
            memberCellphone
        </th>
        <th>
            isConfirmed
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.memberNickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memberAccount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memberEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memberAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memberCellphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isConfirmed)
            </td>
            <td>
                @Html.ActionLink("編輯資料", "EditProfile", new { Id = item.id }) |
                @Html.ActionLink("刪除", "DeleteAccount", new { id = item.id })
            </td>
        </tr>
    }

</table>
@(Html.Pager(Model)
    .Url(page => Url.Action("Index", new { pageNumber=page}))
    .ClassicPlusFirstAndLast())