@model IEnumerable<iSMusic.Models.EFModels.Coupon>

@{
    ViewBag.Title = "Index";
}

<h2>折價卷</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            折價內容
        </th>
        <th>
            開始日期
        </th>
        <th>
            結束日期
        </th>
        <th>
            折扣
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.couponText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expiredDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.discounts)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
