@model iSMusic.Models.EFModels.Order

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Coupon.couponText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Coupon.couponText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member.memberNickName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.memberNickName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.orderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.orderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.receiver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.receiver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cellphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cellphone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
