@model IEnumerable<iSMusic.Models.EFModels.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Coupon.couponText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member.memberNickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.orderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.receiver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cellphone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Coupon.couponText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.memberNickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.orderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.receiver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cellphone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
